<launch>
  <node pkg="nodelet" type="nodelet" name="depth_processing_nodelet"  args="manager" output="screen">
    <remap from="/camera/color/image_raw" to="/camera/color/image_raw"/>
    <remap from="/camera/color/camera_info" to="/camera/color/camera_info"/>
    <remap from="/camera/depth/image_rect_raw" to="/camera/depth/image_rect_raw"/>
    <remap from="/camera/depth/camera_info" to="/camera/depth/camera_info"/>
  </node>   
  <node pkg="nodelet" type="nodelet" name="MyNodeletClass" args="load gr_depth_processing/MyNodeletClass depth_processing_nodelet" output="screen"/>
</launch>
