<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node pkg="nodelet" type="nodelet" name="registration_nodelet"  args="manager" output="screen"/>
  <!-- Include main launch file -->
  <remap from="image_rect" to="/camera/depth_syncro/image_rect_raw"/>
  <remap from="camera_info" to="/camera/depth_syncro/camera_info"/>

  <node pkg="nodelet" type="nodelet" name="MyNodeletClass" args="load depth_image_proc/point_cloud_xyz registration_nodelet" output="screen">
  </node>

</launch>
